  .title{
    color: green;
    text-align: center;
 }

 .text2{
    color: hotpink;
    text-align: center;
 }

 .text3{
    color: indigo;
    font-size: 25px;
    text-align: center;
 }

 .text4{
    color: green;
    margin-left: 150px; 
   
}

.table{
    padding: 0%;
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
    text-align: center;
}

.table{
   height: 100vh;
   display: grid;
   place-items: center;   
   
}

.table{
   width: 600px;
   box-shadow: -1px 12px 12px -6px rgba(0, 0,0,0.5);
}
 
.table, td, th{
   padding: 20px;
   border: 1px solid lightgray;
   border-collapse: collapse;
   text-align: center;
   justify-items: center;

}

.td{
   font-size: 18px;
 
}
 
.text5{
   font-weight: bold;
   font-size: 18px;
   margin-right: 900px;
   padding: 0 ;
}

 .image{
   height: 800pxpx;
   width: 600px;
   justify-content: center;
   border-radius: 10px;
   padding: 0;
   margin-left: 400px;
   margin-top: 20px;
 
 }

 p{
   text-align: center;
 }
